<!DOCTYPE html>
<html lang="en">
<base href="/">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/bootstrap-social.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./styles/style.css">
  

  <title>Project Hoop</title>

</head>

<body>
  <!-- Website NavBar -->
  <div class="navbar">
    <div class="container">
      <a class = 'logo' href="/"><img id = "logo" src="./logos/logo.png" alt=""></a>
      <div class = "nav-item" id = "title"><a href="/">Project Hoop</a></div>
      <div class = "nav-item"><a href="/index">Scores</a></div>
      <div class = "nav-item"><a href="/players">Players</a></div>
      <div class = "nav-item"><a href="/players/reddit">Discuss</a></div>
      <div class = "nav-item"><a href="/contact">Contact</a></div>
    </div>
    <div id = "about">
      <%if(loggedin){%>
      <a href="/logout">Logout</a>
      <%}else{%>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <%}%>
      <a href="/about">About</a>
    </div>
  </div>

  <main>
