<%- include('header'); -%>
<link rel="stylesheet" href="./styles/home.css">

<%if(typeof message !== 'undefined'){%>
<div style="text-align: center" class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%=message%></strong> 
  </div>
<%}%>
<div class =homeContainer>
    <div class = homeHeader>
        <img src="./logos/background.jpg" alt="">
        <h1>Welcome to Project Hoop!</h1>
        <h2>The only NBA-related website any hooper will ever need!</h2>
        <button type="button" class="btn btn-light" id="contactbtnHome">Contact Us</button>
        <button type="button" class="btn btn-light" id="donatebtnHome">Donate</button>
    </div>
    <!-- <div class = tableOfContents>
        <ul>
            <li><a href="#why"><h2>Why Project Hoop?</h2></a></li>
            <li><a href="#features"><h1>Features</h1></a>
                <ul>
                    <li><a href="#gamescores"><h2>Game Scores </h2></a></li>
                    <li><a href="#sneaks"><h2>Sneaker Launch Calendar </h2></a></li>
                    <li><a href="#discuss"><h2>Dicussion Board </h2></a></li>
                </ul>
            </li>
        </ul>
    </div> -->
    <div class = homeBody>
        <ul>
            <li id = 'why'>
                <h2><b>Why Project Hoop?</b></h2>
                <h3>The first two members of our team, Wesley and Calvin, are huge basketball fans. An issue they came across as basketball fans was that everyday, they had
                    to inconveniently visit a variety of websites. This included a scoreboard website, NBA discussion/debate websites, and a sneaker launch calendar,
                    as they both are also into sneakers. We wanted to create an inclusive user experience for the avid basketball fan like ourselves, and compile all these resources
                    into one platform. 
                </h3>
            </li>
            <li id = 'features'>
                <h2><b>Features</b></h2>
                <h3>Project Hoop currently revolves around 3 main features: live scoreboard, discussion forum, and sneaker launch calendar.</h3>
                <ul>
                    <li id = 'gamescore'>
                        <h2><b>Scores and Boxscores</b></h2>
                        <h3>Our scoreboard contains live scores for all games of the current NBA season, as well as finished games. We also
                            offer a comprehensive box score that contains many advanced statistics that are often hard to come across in the 
                            most common live scoreboard platforms available today. 
                        </h3>
                    </li>
                    <li id = 'sneaks'>
                        <h2><b>Sneaker Reviews</b></h2>
                        <h3>As basketball fans and players, our team understands that shoe and sneaker culture is a huge part of basketball in today's society,
                            especially performance basketball shoes. Project Hoop offers reviews of all the sneakers and basketball shoes that we have had
                            the opportunity to wear and play in. 
                        </h3>
                    </li>
                    <li id = 'discuss'>
                        <h2><b>Discussion Forum</b></h2>
                        <h3>Our goal is to create a basketball discussion forum similar in effect to reddit's post and comment system. We want our users to be able to
                            create and display their posts, as well as be able to respond and reply to posts. Feel free to debate about hot NBA-related topics!
                        </h3>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<%- include('footer'); -%>