<%- include('header'); -%>
<div class = discussHeader>
    <a href="/posts/new" class="discussBtn">Start New Discussion</a>
</div>
<div>
    <h1>There are no more posts</h1>
</div>

<%- include('footer'); -%>