<%- include('header'); -%>

<div>
    <form action="/players" method="post">
        <input type="text" class="form-control web-search-box" placeholder="Search for a player's full name" name="search" value=''></div>
        <div id="search" class="search col-sm-1"></div>
        <input type="submit" value="send">
    </form>
</div>


<%- include('footer'); -%>
