<%- include('header'); -%>
<link rel="stylesheet" href="./styles/reddit.css">


<div class = "reddit-container">
  
</div>


<div class = "loading-container">
  <div id="loading">
    <div class="ball first"></div>
    <div class="ball second"></div>
    <div class="ball third"></div>
  </div>
</div>

<script src = "reddit.js"></script>
<%- include('footer'); -%>
