<%- include('../header'); -%>

<div class = revHeader>
    <img src= "./logos/dame-4.jpg" alt = "">
    <h1>Adidas Dame 4</h1>
</div>


<div class = traction>
    <h1>Traction</h1>
    <h4>Wesley</h4>
    <p>The traction on this shoe is phenomenal. Despite resembling Freddie Kreugers face and being inspired by the passage of time, it grips the court on 
        even your shiftiest change in directions. In addition, I found myself not thinking about having to wipe very often. I could commonly run a pickup 
        game to fifteen points without having wiped the bottom and still experience stellar stickage.  
    </p>
    <h3>Final Score: 10/10</h3>
    <h4>Calvin</h4>
    <p>This pattern was absolutely beastly. Stop on a dime with no slippage. Unlike many shoes that grip well, the Dame 4 has traction
        that rarely catches dust. Although the Dame 4's don't squeak much, let this be an example of a shoe that proves that traction
        doesn't need to squeak to be elite. These are probably in my top 10 tractions of all time. No wiping ever, traction stayed great. 
    </p>
    <h3>Final Score: 10/10</h3>
</div>
<div class = fit></div>
    <h1>Fit</h1>
    <h4>Wesley</h4>
    <p>
        For sizing, I find that Adidas typically necessitates buying a half size down from your normal size. In this case, this statement does not hold. As a wide footer,
        I went true to my normal size and that worked well for me, however I will note that I swapped for a more hefty insole which may explain why the true to size fit 
        as well as it did. For wide footers, I would recomend buying true to size, for all others, I would recommend buying half a size down. The shoe also features a bootie
        construction which wraps your foot. During play, I didn't find this to be advantageous or detrimental, however it was a hindrance while putting on, and taking off the shoe.
        The general feel of the fit itself was very comfortable, almost like a sock. This is one of the basketball shoes you might really forget you're wearing
    </p>
    <h3>Final Score: 8/10</h3>
    <h4>Calvin</h4>
    <p>Most hoopers will know that Adidas has absolutely terrible sizing. One shoe you'll wear a 10, and another you'll wear a 9. "True to Adidas size" means absolutely
        nothing. In the case of the Dame 4, go true to size. I wear a 10 in nearly every basketball shoe, and that was the way to go with the Dame 4. Wide footers
        may have to go a half size up, but in most cases true to size should be fine. The fit is not the best,
        but it definitely gets the job done. The Dame 4 features various eyelets up along the single bootie upper, each eyelet covered by rubber so the laces do not slip. I found
        the rubber coverings to be useful, but at the same time cumbersome. Once you tighten the sneaker, the rubber eyelets keep it from coming loose, but it's hard to tighten
        the shoe in the first place. 
    </p>
    <h3>Final Score: 7/10</h3>
<div class = cushion>
    <h1>Cushion</h1>
    <h4>Wesley</h4>
    <p>The Dame 4 featured full length Bounce like the Dame 2 and 3. I found the general feel was softer towards the heel, and close to the ground and responsive in the
        forefoot. I 
        
    </p>
    <h3>Final Score: /10</h3>
    <h4>Calvin</h4>
    <p>The Dame 4 featured a full length Bounce cushion system. This was one of the better renditions of Bounce that I have been able to try, but it still left me hoping
        for more. The Bounce cushioning setup in the Dame 4 is obviously much stiffer than Boost. However, I found it to provide a lot of spring back, something that Boost
        takes away through it's softness and impact protection. Bounce allows for more of that springy feeling where you feel like you are directly putting force into the ground. 
        The impact protection also gets the job done. Overall, the Dame 4's cushioning system was good, but not great. I still feel like Zoom Air is a better setup. 
    </p>
    <h3>Final Score: 7.5/10</h3>
</div>
<div class = materials>
    <h1>Materials</h1>
    <h4>Wesley</h4>
    <p></p>
    <h3>Final Score: /10</h3>
    <h4>Calvin</h4>
    <p>The materials of the Dame 4 is likely the most disappointing aspect of the shoe. Does this mean that the materials were terrible? Not at all. I was simply 
        disappointed that the materials were not as great as some other aspects of the shoe, but this is to expect from it's super cheap $115 price tag. The Dame 4
        contained a textile mesh. It looked liked an overlay of a bunch of mesh panels, with big holes in them. 
    </p>
    <h3>Final Score: /10</h3>
</div>
<div class = suppport>
    <h1>Support</h1>
    <p></p>
    <h3>Final Score: /10</h3>
</div>
<div class = aesthetics>
    <h1>Aesthetics</h1>
    <h4>Wesley</h4>
    <p></p>
    <h3>Final Score: /10</h3>
    <h4>Calvin</h4>
    <p></p>
    <h3>Final Score: /10</h3>
</div>
<div class = overall>
    <h1>Overall</h1>
    <h4>Wesley</h4>
    <p></p>
    <h3>Final Score: /10</h3>
    <h4>Calvin</h4>
    <p></p>
    <h3>Final Score: /10</h3>
</div>
<%- include('../footer'); -%>
