<%- include('../header'); -%>

    <div class=revHeader>
        <img src="./logos/dame-4.jpg" alt="">
        <h1>Adidas Dame 4</h1>
    </div>

    <div class=review>
        <div class=traction>
            <h1><b>Traction</b></h1>
            <h4>Wesley</h4>
            <p>The traction on this shoe is phenomenal. Despite resembling Freddie Kreuger's face and being inspired by
                the passage of time, it grips the court on
                even your shiftiest change in directions. In addition, I found myself not thinking about having to wipe
                very often. I could commonly run a pickup
                game to fifteen points without having wiped the bottom and still experience stellar stickage.
            </p>
            <h3>Final Score: 10/10</h3>
            <h4>Calvin</h4>
            <p>This pattern was absolutely beastly. Stop on a dime with no slippage. Unlike many shoes that grip well,
                the Dame 4 has traction
                that rarely catches dust. Although the Dame 4's don't squeak much, let this be an example of a shoe that
                proves that traction
                doesn't need to squeak to be elite. These are probably in my top 10 tractions of all time. No wiping
                ever, traction stayed great.
            </p>
            <h3>Final Score: 10/10</h3>
        </div>
        <div class=fit>
            <h1><b>Fit</b></h1>
            <h4>Wesley</h4>
            <p>
                For sizing, I find that Adidas typically necessitates buying a half size down from your normal size. In
                this
                case, this statement does not hold. As a wide footer,
                I went true to my normal size and that worked well for me, however I will note that I swapped for a more
                hefty insole which may explain why the true to size fit
                as well as it did. For wide footers, I would recomend buying true to size, for all others, I would
                recommend
                buying half a size down. The shoe also features a bootie
                construction which wraps your foot. During play, I didn't find this to be advantageous or detrimental,
                however it was a hindrance while putting on, and taking off the shoe.
                The general feel of the fit itself was very comfortable, almost like a sock. This is one of the
                basketball
                shoes you might really forget you're wearing
            </p>
            <h3>Final Score: 8/10</h3>
            <h4>Calvin</h4>
            <p>Most hoopers will know that Adidas has absolutely terrible sizing. One shoe you'll wear a 10, and another
                you'll wear a 9. "True to Adidas size" means absolutely
                nothing. In the case of the Dame 4, go true to size. I wear a 10 in nearly every basketball shoe, and
                that
                was the way to go with the Dame 4. Wide footers
                may have to go a half size up, but in most cases true to size should be fine. The fit is not the best,
                but it definitely gets the job done. The Dame 4 features various eyelets up along the single bootie
                upper,
                each eyelet covered by rubber so the laces do not slip. I found
                the rubber coverings to be useful, but at the same time cumbersome. Once you tighten the sneaker, the
                rubber
                eyelets keep it from coming loose, but it's hard to tighten
                the shoe in the first place.
            </p>
            <h3>Final Score: 7/10</h3>
        </div>
        <div class=cushion>
            <h1><b>Cushion</b></h1>
            <h4>Wesley</h4>
            <p>The Dame 4 featured full length Bounce like the Dame 2 and 3. I found the general feel was softer towards
                the heel, and close to the ground and responsive in the
                forefoot. It was more of a minimalist setup for guards who like to feel close to the ground, and don't
                need as much impact protection as heavier or more explosive players.
                Overall, the cushion is a solid setup, however I would reccomend it to smaller players or others without
                knee pain.
            </p>
            <h3>Final Score: 7/10</h3>
            <h4>Calvin</h4>
            <p>The Dame 4 featured a full length Bounce cushion system. This was one of the better renditions of Bounce
                that I have been able to try, but it still left me hoping
                for more. The Bounce cushioning setup in the Dame 4 is obviously much stiffer than Boost. However, I
                found it to provide a lot of spring back, something that Boost
                takes away through it's softness and impact protection. Bounce allows for more of that springy feeling
                where you feel like you are directly putting force into the ground.
                The impact protection also gets the job done. Overall, the Dame 4's cushioning system was good, but not
                great. I still feel like Zoom Air is a better setup.
            </p>
            <h3>Final Score: 7.5/10</h3>
        </div>
        <div class=materials>
            <h1><b>Materials</b></h1>
            <h4>Wesley</h4>
            <p>Personally, as long as my shoes are durable, I am generally content with the materials. There are 2
                versions of this shoe, some have mesh uppers like Calvin
                reviewed below. I had the off-white, gumsole bottom version which featured a synthetic upper that felt
                "rubbery." Because of the bootie construction and the
                synthetic upper, the shoe was definitely not very breathable, however I don't mind that. If it is
                something you consider in a shoe, this might not be the one
                for you. Durability was a separate story altogether with this shoe. I played exclusively indoors with
                this shoe for a year and a half, and the only noticeable
                wear was to the traction pattern in the forefoot and slight peeling on the toe of the shoe. Neither of
                these compromised the integrity of the shoe, however I
                retired my pair because the cushion bottomed out and was no longer responsive. If you're looking for a
                pair of shoes that is comfortable, will last you, and
                don't care about breathability, this is the shoe for you.
            </p>
            <h3>Final Score: 7/10</h3>
            <h4>Calvin</h4>
            <p>The materials of the Dame 4 is likely the most disappointing aspect of the shoe. Does this mean that the
                materials were terrible? Not at all. I was simply
                disappointed that the materials were not as great as some other aspects of the shoe, but this is to
                expect from it's super cheap $115 price tag. The Dame 4
                contained a textile mesh. It looked liked an overlay of a bunch of mesh panels, with big holes in them.
                The upper was not quite as breathable as I had hoped despite
                being mesh and looking like it had big holes for airflow. However, it got the job done. It was
                comfortable in the sense that most meshes are, it conformed to my
                foot pretty well. Breathable? No. But still a good overall setup.
            </p>
            <h3>Final Score: 6.5/10</h3>
        </div>
        <div class=suppport>
            <h1><b>Support</b></h1>
            <h4>Wesley</h4>
            <p>The Dame 4's offered solid support. The bootie kept your foot from sliding around and removed any
                deadspace, and the midsole comes up around the middle of your foot to prevent
                your foot from rolling over the footbed. I didn't encounter an heel slippage as well. Overall, I
                couldn't ask for anything
                more from the shoe.
            </p>
            <h3>Final Score: 9/10</h3>
            <h4>Calvin</h4>
            <p>In terms of support, the Dame 4 got the job done. It wasn't the best in terms of support, but it was
                definitely on the better side. I never felt my foot
                slide off the foot bed, and I was never worried about it during hard cuts. There was no heel slippage on
                the Dame 4's either.
                Overall, it was an upgrade from previous Dame models in terms of support.
            </p>
            <h3>Final Score: 8.5/10</h3>
        </div>
        <div class=aesthetics>
            <h1><b>Aesthetics</b></h1>
            <h4>Wesley</h4>
            <p>I think the aesthetics of this shoe are definitely the best out of the entire Dame line to date. The
                off-white, gumsole bottomed
                is a classic on any shoe. I think some of the specialized colorways are really nice, especially for a
                performance shoe, but I wouldn't
                count this in a top 10 for any basketball shoe aesthetics list.
            </p>
            <h3>Final Score: 7.5/10</h3>
            <h4>Calvin</h4>
            <p>As always, aesthetics is 100% subjective. I personally purchased the Bred colorway and was satisfied with
                it. There are some other colorways that I found
                to be more pleasing aesthetically, but I loved my Bred colorway nonetheless. Not the prettiest shoe, but
                the unique design which can seem both bulky and
                sleek at the same time caught my eye.
            </p>
            <h3>Final Score: 8/10</h3>
        </div>
        <div class=overall>
            <h1><b>Overall</b></h1>
            <h4>Wesley</h4>
            <p>
                I strongly reccomend this shoe to anyone considering buying it. At the retail price point of $115, I
                think that is honestly a steal.
                I played with this shoe as my main indoor shoe for over a year, and it never let me down. The
                combination of consistent traction,
                good support, cushion that is both soft in the heel and yet low to the ground, and durable materials
                leads me to give it an 8/10.
            </p>
            <h3>Final Score: 8/10</h3>
            <h4>Calvin</h4>
            <p>Overall, I was super happy with the Dame 4. It's not one of my top performers of all time objectively,
                but with price being a factor, it's definitely up there.
                Beast traction, reactive cushioning, good support, good materials, and in my opinion a good design. Good
                job Adidas, the Dame 4 definitely gets my nod of approval.
            </p>
            <h3>Final Score: 8.5/10, 9.5/10 considering price</h3>
        </div>
    </div>
    <%- include('../footer'); -%>