<%- include('../header'); -%>
<div class = shoeHomeContainer>
    <div class = shoeHomeHeader>
        <img class = shoeBackground src="./logos/shoeBackground.jpg">
        <h1>Reviews of Basketball Shoes</h1>
        <h2>Authentic Review of over 100+ sneakers blah blah</h2>
    </div>
    <div class = "shoeCategory">
        <h3>Air Jordan</h3>
        <a href="/"> <img src = "./logos/AirJordanCategory.png"></a>
        <h3>Kobe AD</h3>
        <a href="/"> <img src = "./logos/kobeAD.jpg"></a>
        <h3>Dame</h3>
        <a href="/"> <img src = "./logos/Dame.jpg"></a>
        <h3>PG</h3>
        <a href="/"> <img src = "./logos/PG.jpg"></a>
    </div>
</div>

<%- include('../footer'); -%>
