@font-face {
  font-family: 'scoreboard';
  src:  url('../fonts/scoreboardFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Basketball';
  src:  url('../fonts/Basketball.otf') format('opentype');
}

body{
  background-color:rgba(247, 244, 244, 0.651);
  color:#555;
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:0;
}

table, th, td {
  border-collapse: collapse;
}

table{
  width:80%;
}

.margin{
  margin-top: 20px;
}

.row{
  justify-content:center;
  margin: 0;
}

.col-sm{
  padding-left: 1px;
  padding-right: 1px;
}

.display:hover {
  opacity: 30%;
}

.col-sm:hover > .hide{
  opacity: 1;
  display:block;
}

.hide{
  display:none;
  transform: translate(50%, -1000%);
}

.overlay-text{
  all:initial;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

.container{
  width: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.table{
    width: 48.5%;
    background-color: white;
    align-items: center;
    border-radius: 20px;
}

.dummy { 
  width: 0.75%;
  background-color: rgba(247, 244, 244, 0.651);
}

.table:hover{
  background-color: rgba(247, 244, 244, 0.651);
}

.col-lg-8{
    text-align: center;
}

.navbar{
  background-color:#333;
  flex-direction: row;
  color:#333;
  display: flex;
  width: 100%;
  margin: 0 0 0 0;
  padding-left: 0;
  align-items: center;
} 

.nav-item{
  background-color: #333;
}

.nav-item a {
  color:white;
  font-size: larger;
}

.logo{
  width: 13%;
}

.scores {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}
.displayDate{
  text-align: center; 
  font-size: 400%;
  font-family: scoreboard;
}

.arrow{
  text-align: center; 
  font-size: 400%;
}

.tables {
  width: 100%;
  margin: 0 0 0 0;
}

.dateArrow:link{
  text-decoration: none;
}
.dateArrow:visited{
  text-decoration: none;
}
.dateArrow:hover{
  text-decoration: none;
}

.score{
  font-family: scoreboard;
}

.cardTitle{
  color: black;
  align-items: left;
  justify-items: left;
  text-align: left;
}
.cardTitle:link{
  text-decoration: none;
}
.cardTitle:visited{
  text-decoration: none;
}
.cardTitle:hover{
  text-decoration: none;
}

#contactbtn{  
  border: 2px solid black;
  position: absolute;
  top: 5%;
  width: 10%;
  left: 40%;
}

#donatebtn{
  border: 2px solid black;
  position: absolute;
  align-self: center;
  top: 5%;
  left: 50%;
  width: 10%
}

#about {
  width: 40%;
  align-self: center;
  text-align: right;
  justify-self: flex-end;
}

#about a {
  color: white;
  padding-right: 2%;
  font-size: larger;
}

.card{
  align-self: center;
}

#accordion{
  margin-left: 10%;
  width: 80%;
}

#statAccordion{
  margin-left: 10%;
  width: 80%;
}

table{
  width: 100%;
}

.flex-box{
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 0 0;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.col-lg-1{
  text-align: center;
}

tr:nth-child(even) {background: rgba(247, 244, 244, 0.651)}
tr:nth-child(odd) {background: #FFF}

td:first-child {
  text-align: left;
}

th:first-child {
  text-align: left;
}
td{
  text-align: right;
}

th{
  text-align: right;
}

#gameinfo{
  background: white;
}

.card{
  margin-bottom: 2%;
}

.score{
  font-size: 400%;
}

.arena{
  font-size: 200%;
}

#logo {
  width: 100%;
}

.filler {
  height: 2000px;
}

li h1, li h2, li h3{
  margin-left: 15px;
  margin-right: 15px;
}

.shoeBackground{
  width: 100%;
  opacity: .75;
}

.shoeHomeContainer h1{
  left: 35%;
  top: 10%;
  color: black;
  position: absolute;
  align-self: center;
  font-size: 3.2vw;
}
.shoeHomeContainer h2{
  left: 35%;
  top: 15%;
  color: black;
  position: absolute;
  align-self: center;
  font-size: 1.8vw;
}
.shoeHomeContainer h3{
  color: black;
  position: relative;
  align-self: center;
  font-size: 1.8vw;
}
.shoeHomeContainer{
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: Basketball;
}

.shoeCategory{
  display: flex;
  position: relative;
  /*flex-direction: row;*/
  font-family: Basketball;
  flex-wrap: wrap;
}

.shoeCategory a{
  width: 50%
}

/* shoe reviews */
.revHeader{
  margin-left: 30px;
}

.review{
  margin-left: 35px;
}

.review div{
  margin-bottom: 60px;
}

.review div h4, .review div p, .review div h3{
  margin-left: 10px;
}

.review div h4{
  margin-top: 15px;
}

.review div p{
  font-size: larger;
}

.gameInfo {
  width: 60%;
}
