@font-face {
  font-family: 'scoreboard';
  src:  url('../fonts/scoreboardFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Basketball';
  src:  url('../fonts/Basketball.otf') format('opentype');
}

body{
    background-color:rgba(247, 244, 244, 0.651);
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

table, th, td {
    border-collapse: collapse;
  }

table{
    width:80%;
}

.margin{
  margin-top: 20px;
}

.row{
    justify-content:center;
    margin: 0;
}

.col-sm{
  padding-left: 1px;
  padding-right: 1px;
}

.display:hover {
  opacity: 30%;
}

.col-sm:hover > .hide{
  opacity: 1;
  display:block;
}

.hide{
  display:none;
  transform: translate(50%, -1000%);
}

.overlay-text{
  all:initial;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

.container{
    width: 30%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.table{
    width: 48.5%;
    background-color: white;
    align-items: center;
}

.dummy { 
  width: 0.75%;
  background-color: rgba(247, 244, 244, 0.651);
}

.table:hover{
  background-color: rgba(247, 244, 244, 0.651);
}

.col-lg-8{
    text-align: center;
}

.aboutHead{
  text-align: center;
  background-color: rgba(247, 244, 244, 0.651);
}

.aboutHead li{
  list-style-type: none;
}

.navbar{
  background-color:#333;
  flex-direction: row;
  color:#333;
  display: flex;
  width: 100%;
  margin: 0 0 0 0;
  padding-left: 0;
  align-items: center;
} 

.nav-item{
  background-color: #333;
}

.nav-item a {
  color:white;
  font-size: larger;
}

.logo{
  width: 17.5%;
}

.scores {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}
.displayDate{
  text-align: center; 
  font-size: 400%;
  font-family: scoreboard;
}

.arrow{
  text-align: center; 
  font-size: 400%;
}

.tables {
  width: 100%;
  margin: 0 0 0 0;
}

.dateArrow:link{
  text-decoration: none;
}
.dateArrow:visited{
  text-decoration: none;
}
.dateArrow:hover{
  text-decoration: none;
}

.score{
  font-family: scoreboard;
}

.cardTitle{
  color: black;
  align-items: left;
  justify-items: left;
  text-align: left;
}
.cardTitle:link{
  text-decoration: none;
}
.cardTitle:visited{
  text-decoration: none;
}
.cardTitle:hover{
  text-decoration: none;
}

.aboutContainer{
  position: relative;
  width: 100%;
}

#contactbtn{  
  border: 2px solid black;
  position: absolute;
  top: 5%;
  width: 10%;
  left: 40%;
}

#donatebtn{
  border: 2px solid black;
  position: absolute;
  align-self: center;
  top: 5%;
  left: 50%;
  width: 10%
}

#about {
  width: 70%;
  align-self: center;
  text-align: right;
  justify-self: flex-end;
}

#about a {
  color: white;
  padding-right: 2%;
  font-size: larger;
}

.card{
  align-self: center;
}

#accordion{
  margin-left: 10%;
  width: 80%;
}

table{
  width: 100%;
}

.flex-box{
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 0 0;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.col-lg-1{
  text-align: center;
}

tr:nth-child(even) {background: rgba(247, 244, 244, 0.651)}
tr:nth-child(odd) {background: #FFF}

td:first-child {
  text-align: left;
}

th:first-child {
  text-align: left;
}
td{
  text-align: right;
}

th{
  text-align: right;
}

#gameinfo{
  background: white;
}

.card{
  margin-bottom: 2%;
}

.boxLogo{
  width: 10%;
}

.boxHeadLogoHome{
  width: 3%;
  margin-left: 6.8%;
  margin-right: auto;
}

.boxHeadLogoAway{
  width: 3%;
  margin-right: 6.8%;
  margin-left: auto;
}

.member{
  margin-bottom: 0;
}

.score{
  font-size: 400%;
}

.arena{
  font-size: 200%;
}

#logo {
  width: 100%;
}

.homeContainer{
  display: flex;
  background-color: rgba(247, 244, 244, 0.651);
  justify-content: center;
  flex-direction: column;
}


.homeHeader h1, .homeHeader h2 {
  position: absolute;
  margin-left: 15px;
}

.homeHeader h1 {
  left: 55%;
  top: 40%;
  font-size: 3.2vw;
  color: black;
}

.homeHeader h2{
  left: 57.5%;
  top: 47.5%;
  font-size: 2.8vw;
}
.homeHeader img{
  width: 100%;
}

.homeHeader {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  border-radius: 10px;
  position: relative;
  font-family: Basketball;
}

.homeBody {
  margin-top: 30px;
  display: flex;
  align-self: center;
  width: 70%;
  border-radius: 10px;
}


.tableOfContents ul{
  list-style-type: none;
}

.homeBody ul{
  list-style-type: none;
}

.filler {
  height: 2000px;
}

li h1, li h2, li h3{
  margin-left: 15px;
  margin-right: 15px;
}

#why{
  background-color: rgb(236, 233, 235);
  border-radius: 10px;
  margin-bottom: 30px;
}

#features{
  background:rgba(230, 175, 103, 0.589);
  margin-top: 10px;
  margin-border: 10px;
  border-radius: 10px;
}


#contactbtnHome{  
  border: 2px solid black;
  position: absolute;
  top: 90%;
  width: 10%;
  left: 40%;
}

#donatebtnHome{
  border: 2px solid black;
  position: absolute;
  align-self: center;
  top: 90%;
  left: 50%;
  width: 10%
}